<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <title>Checkout</title>
</head>
<body>

    <form class="needs-validation" novalidate name="CheckoutForm" method="post">
        @Html.AntiForgeryToken()
        <h2>Billing Information</h2>
        <div class="row" name="BillingInfo">
        </div>
        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label for="validationTooltip01">First name</label>
                <input type="text" name="BillingFirstName" class="form-control" id="validationTooltip01" placeholder="First name" value="Mark" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Last name</label>
                <input type="text" name="BillingLastName" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">City</label>
                <input type="text" name="BillingCity" class="form-control" id="validationTooltip03" placeholder="City" required>
                <div class="invalid-tooltip">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip04">State</label>
                <input type="text" name="BillingState" class="form-control" id="validationTooltip04" placeholder="State" required>
                <div class="invalid-tooltip">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Zip</label>
                <input type="text" name="BillingZip" class="form-control" id="validationTooltip05" pattern="^\d{5}(?:[-\s]\d{4})?" placeholder="Zip" required>
                <div class="invalid-tooltip">
                    Please provide a valid zip.
                </div>
            </div>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="GiftCheck">
            <label class="custom-control-label" for="GiftCheck">This order is a "gift".</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
        @section Scripts{
        <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });

        </script>
        }


        

    </form>


</body>
</html>