
@{
    ViewData["Title"] = "Reset Password";
}

<form method="post">
    <label for="password">Enter your email adress reset your password</label>
    <input type="password" name="password" required />
    <input type="submit" value="Reset Password" />
</form>
