@model DanielStoreFront.Models.ProductsViewModel
@{
    ViewData["Title"] = "Index";
}
<!--./Views/Products/index.cshtml/-->
<h2>Products works!</h2>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
        </dl>
       
    </div>
</div>
